$primary-color : #5128A0;
$secondary-color : #F2F1FF;
// $primary-light-color : #9080ad;
$primary-light-color : #a793d0;
$primary-light-color-2 : #DCD4EC;
$primary-dark-color: #351b69;
$white-color : #FFFFFF;
$black-color : #000000;
$dark-gray-color : #808080;
$gray-color : #F2F2F2;
$gray-color-2 : #E4E4E4; // use for ripple effect
$gray-color-3 : #e0e0e0; // use for ripple effect
$red-color : #DC3545;
$light-red: #E6DCDB;